html
head
  title Home
body
  span Welcome #{user}. This is your homepage.
  a(href="https://www.google.com") Google
  h1 To do list
  ul
    li.
      Breathe
    li.
      Win CTF
    li.
      Enjoy summer
